body {
  background-color: #181b20;
  font-family: droid sans;
  color: #9b9081;
}

.flex_item {
  display:flex;
}

#results {
  display: none;
}

#detailed {
  display: none;
}

#map {
  display: none;
}
