<html>
  <head>
    <title>Chicago Crime</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>`
    <script src='static/js/main.js'></script>
  </head>
  <body>
    <div id="header">
      <h1>Crime classifier</h1>
    </div>
    <div id="map" class="flex_item">
      <textarea rows="4" cols="50"
                onkeydown='updateScore()'
                placeholder="Ceci n'est pas une carte"
                border-radius=25px
      ></textarea>
    </div>
    <div class="flex_item">
      <!-- FEATURE SELECTION -->
      <div id="feature-selection">
        <h3> input your features </h3>
        <textarea id="latitude" cols="10">41.876447</textarea>°N
        <p><textarea id="longitude" cols="10">87.652297</textarea>°W</p>
        <input id="datetime" type="datetime-local">
        <button type="button" onclick="reset_time()">Now</button>
        <p>Location description:<select id="location_desc">
          {% for option in options %}
            <option value={{option}}>{{ option.lower() }}</option>
          {% endfor %}
        </select></p>
        <h3> model selection</h3>
        <p>model type:
          <select id="modelNames">
            <option value="ada">ada boost classifier</option>
            <option value="dummy">dummy classifier</option>
            <option value="knn">k-neighbors classifier</option>
            <option value="log">logistic regression</option>
            <option value="forest" selected="selected">random forest</option>
          </select> 
        </p>
        <p>target:
          <select id="targetSelect">
            <option value="index_crime" selected="selected">index crimes</option>
            <option value="crime_against">domain (3)</option>
            <option value="fbi_code">fbi class (26)</option>
            <option value="primary_type">primary class (33)</option>
          </select>
        <button type="button" onclick="get_results()">Submit</button>
      </div>
      <div id="results">
        <h3> results</h3>
        <p> prediction: <span id="prediction"></span></p>
        <h4> model statistics </h4>
        <p> accuracy: <span id="accuracy"></span></p>
        <p> dummy accuracy: <span id="dummyAccuracy"></span></p>
        <button type="button" onclick="toggle_detailed()">show advanced</button>
        <div id="detailed">
          <p>precision: <span id="precision"></span></p>
          <p>recall: <span id="recall"></span></p>
          <p>f1: <span id="f1"></span></p>
        </div>
      </div>
    </div>
    <div id="footer"></div>
  <script>
    reset_time()
  </script>

  </body>

</html>
